@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Tablet */

    main {
        height: 950px;
    }

    article#endereco p {
        text-align: center;
    }

    iframe#mapa {
        width: 450px;
        height: 320px;
    }

}


@media screen and (min-width: 992px) {
    /* Telas maniores*/

    main {
        height: 1050px;
    }

    article#endereco p {
        text-align: center;
    }

    iframe#mapa {
        width: 550px;
        height: 420px;
    }
}